<div class="row">
		<div class="col-sm-6 nopadding" >
			<div class="header " >
				<!--<div class="dropdown">-->
					<!--<span>Top News</span>-->
						<!--<div class="dropdown-content">-->
							  <!--<p>opt1</p>-->
							  <!--<p>opt2</p>-->
						<!--</div>-->
				<!--</div>-->
				<!--<div class="dropdown">-->
					<!--<span>Show All</span>-->
						<!--<div class="dropdown-content">-->
							<!--<p ng-click="()"></p>-->
							<!--<p>opt2</p>-->
						<!--</div>-->
				<!--</div>-->
				<label class="col-sm-12"><input type="text" class="search" placeholder="search" ></label>
			</div>

			<div class="sidebar" >
				<!--feedSource List-->
				<div ng-repeat="(key, value) in feedsUrl" ng-if = "isFeedUrl">
					<p ><a href="javascript:void(0)" ng-click="getFeed(value)" style="text-decoration: none;color: #fff;">{{value}}</a>
						<button class="btn btn-primary" ng-click= "editFeedSource(value)">edit</button></p>
				</div>
				<!--feedList-->
				<div  ng-repeat="(key, value) in feedNews" ng-if="isFeedDetails">
					<div class="sidebar" ng-class="value.isPublished  ? 'test' : 'error'" >
					<p><a href="javascript:void(0)" ng-click="getNewsData(feedNews[key])" style="text-decoration: none;color: #fff;">{{value.title}}</a></p>
					<a href="{{value.DataUrl}}">{{value.SourceName}}</a> -- {{key}}
					</div>
				</div>
				<div ng-if="isCreateNews">
					<div ng-if="news">
						<div ng-repeat="(key, data) in news">
							<br/>
							{{key}} : {{data}}

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-6 sidebar" >
			<!--createFeedSource-->
			<form ng-if= "isFeedUrl">
				<div class="form-group row">
					<label class="control-label col-sm-3" for="feedName">Feed Name:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="feedName" placeholder="Enter Feed Name" name="feedName" ng-model="editableFeed.feedName">
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-sm-3" for="url">Url:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="url" placeholder="Enter Url" name="url" ng-model="editableFeed.url">
					</div>
				</div>
				<div class="form-group row">
					<label class="control-label col-sm-3" for="description">Description:</label>
					<div class="col-sm-9">
						<input type="text" class="form-control" id="description" placeholder="Enter Description" name="description" ng-model="editableFeed.description">
					</div>
				</div>

				<div class="form-group row" ng-if="!isEditFeedSource">
					<div class="col-sm-offset-9 col-sm-2">
						<button type="submit" class="btn btn-primary" ng-click="postNewsData(editableFeed)">Save</button>
						<button type="button" class="btn btn-warning" ng-click="cancel(editableFeed)">Cancel</button>
					</div>
				</div>
				<div class="form-group row" ng-if="isEditFeedSource">
					<div class="col-sm-offset-9 col-sm-2">
						<button type="submit" class="btn btn-primary" ng-click="putNewsData(editableFeed,editableFeed._id)">Update</button>
						<button type="button" class="btn btn-warning" ng-click="cancel(editableFeed)">Cancel</button>
					</div>
				</div>
			</form>


			<!--feedInfo-->
			<div ng-if= "isFeedDetails">
				<div ng-if="news">
				<button type="button" class="btn btn-default" ng-click="CreateNews(news._id)" >Create News</button>
				<div ng-repeat="(key, data) in news">
					<br/>
					{{key}} : {{data}}

				</div>
				</div>
			</div>

			<div ng-if="isCreateNews">
				test test tes
			</div>
		</div>
</div>