<div class="row justify-content-center center-box">
        <form class="form-horizontal" >
            <div class="login-logo">
                <p>Recover Your Password !</p>
            </div>
            <label >An email will be sent to the valid e-mail address you entered for password recovery below</label>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Enter registered email">
            </div>
            <div class="row">
                <div class="col-sm-6 col-6">
                    <button type="submit" class=" btn-login recover" >Recover</button>
                </div>
                <!-- <div class="col-sm-6 col-6">
                    <a class="forgotlink">Forgot password?</a>
                </div> -->
            </div>
        </form>
    </div> 